.nav {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;

    gap: 1em;

    position: fixed;
    bottom: 1em;
    right: 1em;
    
    font-family: monospace;
}

.nav a {
    background: #112b;
    backdrop-filter: blur(.25em);
    color: #ffd;
    border-radius: .333em;

    padding: 0.5em 1em;
}

.nav a:not([href]) {
    font-weight: bold;
}